n8n/feature-gate.workflow.json
{
  "name": "Feature-Gate",
  "nodes": [
    {
      "parameters": {
        "path": "supervisor/event",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "Webhook_1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ -300, 0 ]
    },
    {
      "parameters": {
        "functionCode": "const approve = $json.risk === 0;\nconst diff = $json.diff || \"<no diff>\";\nreturn [{ json: { approve, diff } }];"
      },
      "id": "Function_1",
      "name": "Summarize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [ 0, 0 ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://190.160.117.23:50000/tool/ci.run",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{ \"ref\": \"HEAD\" }"
      },
      "id": "HttpRequest_1",
      "name": "Trigger CI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 300, 0 ]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Summarize", "type": "main", "index": 0 }]] },
    "Summarize": { "main": [[{ "node": "Trigger CI", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetup": false },
  "settings": {},
  "staticData": null
}
